.top-content
.left-content
  .left-content__user
    %p
      = current_user.name
    %span.left-content__user-mark1
      = link_to new_group_path do
        %i.fa.fa-external-link
    %span.left-content__user-mark2
      = link_to edit_user_registration_path do
        %i.fa.fa-cog
  .left-content__group
    .left-content__group-content
      = render current_user.groups
.right-content
  .right-content__name
    .right-content__name-element
      .right-content__name-element-group
        %p
          = @group.name
      .right-content__name-element-user
        - @group.users.each do |user|
          %p
            = current_user.name
    .right-content__name-edit
      = link_to edit_group_path(@group) do
        %p.right-content__name-edit-element edit
  .right-content__chat
    = render partial: "message", collection: @messages
  .right-content__message
    = form_for [@group, @message] do |f|
      = f.text_area :body, placeholder: "グループ名を入力してください"
      %i(class="fa fa-picture-o")
      = f.submit "send",class:"right-content__message-button"
